<form method="POST" action="/users/reset-password">
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" placeholder="Enter your Email" required>
    <input type="submit" value="Submit">
</form>