header{
    height: 30px;
    background-color:cornflowerblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
        margin: 0px;
        letter-spacing: 0.2rem;
        padding: 0px 10px;
    }
    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        li{
            margin: 0px;
            padding: 0px 10px;
            display: inline-block;
            a{
                text-decoration: none;
                color: white;
                font-size: 20px;
            }
        }
    }
}